node_modules/
notes/

# Ignore all the files under "dist/", except for the ".gitkeep" file.
/dist/**
!/dist/**/
!/dist/**/.gitkeep

# Ignore all the files under "rendered_templates/", except for the ".gitkeep" file.
/rendered_templates/**
!/rendered_templates/**/
!/rendered_templates/**/.gitkeep

# Ignore all the files under "static/", except for the ".gitkeep" file.
/static/**
!/static/**/
!/static/**/.gitkeep
