/node_modules
/notes

# --- js for the server ---
/dist/**
!/dist/**/
!/dist/**/.gitkeep

# --- rendered templates ---
/rendered_templates/**
!/rendered_templates/**/
!/rendered_templates/**/.gitkeep

# --- static stuff ---
/static/**
!/static/**/
!/static/**/.gitkeep